
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}


.main-header {
    background-color: #abe99d;
    padding: 30px 0;
    position: relative; 
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; 
}

.main-header .logo img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease; 
}

.main-header .logo img:hover {
    transform: scale(1.1); 
}

.main-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.main-header .main-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.main-header .main-nav ul li a:hover {
    color: #004d00; 
}


.image-bar {
    position: absolute; 
    top: 10px; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    padding: 0 20px; 
    z-index: 1; 
}

.image-bar img {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.image-bar img:hover {
    transform: scale(1.2); 
}


.hero {
    background: url('arbuz-field.jpg') no-repeat center center/cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 20px 0;
}

.hero .btn {
    background-color: #b9ffa3;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #267e0b;
}

/* Новости */
.news-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.news-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.news-grid article {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.news-grid article h3 {
    margin: 0 0 15px 0;
    color: #4CAF50;
}

.news-grid article p {
    margin-bottom: 20px;
}

.news-grid article a {
    color: #4CAF50;
    text-decoration: none;
}

.news-grid article a:hover {
    text-decoration: underline;
}


.main-footer {
    background-color: #8FCB81;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
